<div class="p-2 m-2 border border-secondary rounded">
    <p class="fs-4 fw-bold">Proyectos</p>
    <div class="btn-med" *ngIf="isLogged"><i class="bi bi-pencil-square"></i></div>
    <p class="fs-6 p-2" id="detalleProyectos"> <b id="frontEnd">Portfolio Web</b> <br>2022<br>Una aplicación web full stack que muestra mis datos personales, estudios cursados, experiencia laboral, conocimiento de las
        tecnologías, etc. Esta aplicación es de arquitectura distribuida y contiene un
        diseño de interfaz de usuario (front end) que muestra la información, una base de datos que almacena los datos antes mencionados y cuenta
        con las APIs necesarias para proveer a través de internet la información (back end).</p>
  </div>