<div class="p-2 m-2 border border-secondary rounded">
    <p class="fs-4 fw-bold">Educación</p>
    <div class="p-1">
        <img src="/assets/img/ministerio.png" alt="ministerio" width="50px" class="freelance">
        <p class="fs-6 p-1" id="detalleExperiencia"> <b id="frontEnd">Ministerio de Desarrollo Productivo</b> <br>Sé Programar<br>2021</p>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="bi bi-pencil-square"></i></a></div>
    </div>
    <div class="p-1">
        <img src="/assets/img/google.png" alt="google" width="60px" class="freelance">
        <p class="fs-6" id="detalleExperiencia"> <b id="frontEnd">Google Actívate</b> <br>Introducción al Desarrollo Web II<br>2020</p>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="bi bi-pencil-square"></i></a></div>
    </div>
    <div class="p-1">
        <img src="/assets/img/google.png" alt="google" width="60px" class="freelance">
        <p class="fs-6" id="detalleExperiencia"> <b id="frontEnd">Google Actívate</b> <br>Introducción al Desarrollo Web I<br>2020</p>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="bi bi-pencil-square"></i></a></div>
    </div>
    <div class="p-1">
        <img src="/assets/img/cambridge.jpg" alt="cambridge" width="60px" class="freelance">
        <p class="fs-6" id="detalleExperiencia"> <b id="frontEnd">Instituto Cambrdige</b> <br>Idioma inglés<br>2004-2013</p>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="bi bi-pencil-square"></i></a></div>
    </div>
    <div class="p-1">
        <img src="/assets/img/emaus.jpg" alt="Emaús" width="60px" class="freelance">
        <p class="fs-6" id="detalleExperiencia"> <b id="frontEnd">Colegio Emaús</b> <br>Bachiller en Economía y Administración<br>1998-2012</p>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="bi bi-pencil-square"></i></a></div>
    </div>
  </div>