<div class="p-2 m-2 border border-secondary rounded">
    <p class="fs-4 fw-bold">Proyectos</p>
    <div class="btn-edit"><a href="#" class="btn-med"><i class="bi bi-pencil-square"></i></a></div>
    <p class="fs-6 p-2" id="detalleProyectos"> <b id="frontEnd">Portfolio Web</b> <br>Una aplicación web full stack, que mostrará: tus datos personales, estudios cursados, experiencia laboral, conocimiento de las
        tecnologías y lo que desees agregar. Es decir, ¡crear tu propio portfolio web! Esta aplicación deberá ser de arquitectura distribuida y contener un
        diseño de interfaz de usuario (front end) que muestre la información, una base de datos que almacene los datos antes mencionados y debe contar
        con las APIs necesarias para proveer a través de internet la información (back end).<br>2022</p>
  </div>