<div class="p-2 m-2 border border-secondary rounded">
    <p class="fs-4 fw-bold">Aptitudes</p>
    <p class="fs-6" id="diseño">Relaciones interpesonales</p>
    <div class="btn-med" *ngIf="isLogged"><i class="bi bi-pencil-square"></i></div>
    <div class="d-flex justify-content-center align-items-end">
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
    </div>
    <p class="fs-6" id="diseño">Oratoria</p>
    <div class="btn-med" *ngIf="isLogged"><i class="bi bi-pencil-square"></i></div>
    <div class="d-flex justify-content-center align-items-end">
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
    </div>
    <p class="fs-6" id="diseño">Diseño</p>
    <div class="btn-med" *ngIf="isLogged"><i class="bi bi-pencil-square"></i></div>
    <div class="d-flex justify-content-center align-items-end">
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 85%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
    </div>
    <p class="fs-6" id="diseño">Emprendimiento</p>
    <div class="btn-med" *ngIf="isLogged"><i class="bi bi-pencil-square"></i></div>
    <div class="d-flex justify-content-center align-items-end">
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
    </div>
    <p class="fs-6" id="diseño">Administración</p>
    <div class="btn-med" *ngIf="isLogged"><i class="bi bi-pencil-square"></i></div>
    <div class="d-flex justify-content-center align-items-end">
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
    </div>
    
  </div>