<div class="container-fluid pt-1 ms-0 bg-dark">
  <div class="izquierda">
      <img src = "/assets/img/logo.png" alt ="logo" class="logo" width="50px">
      <span class="h6 text-light" id="texto">Argentina Programa" #YoProgramo</span>
      <section class="redes">
          <i class="bi bi-facebook text-light"></i>
          <i class="bi bi-instagram text-light"></i>
          <i class="bi bi-linkedin text-light"></i>
          <span class="border" id="login">Login</span> 
      </section>    
  </div> 
</div>
<div class="d-flex p-2 m-2 border border-secondary rounded">
  <div class="banner">
      <img src="/assets/img/banner.jpg" alt="banner" class="img-fluid rounded">
      <div class="perfil">
          <img src="/assets/img/perfil.png" alt="perfil" class="rounded-circle" width="100px" id="perfil">
      </div>
      <div class="datos pt-2 m-1">
          <p class="fs-4 fw-bold">Erik Matías Wagner</p>
          <p class="fs-6">Full Stack Developer Jr.</p>
          <p class="fs-6">Buenos Aires (Argentina)</p>
          <img src="/assets/img/inti.png" alt="inti" width="170px" id="inti">                
      </div>
  </div>
</div>

<div class="p-2 m-2 border border-secondary rounded">
  <p class="fs-4 fw-bold">Acerca de</p>
  <p class="fs-6" id="acerca">Soy un orgulloso graduado de Argentina Programa. Ministerio de Desarrollo Productivo.</p>
</div>

<div class="p-2 m-2 border border-secondary  rounded">
  <p class="fs-4 fw-bold">Experiencia</p>
  <img src="/assets/img/freelancer.jpg" alt="freelance" width="60px" class="freelance">
  <p class="fs-6" id="detalleExperiencia"> <b id="frontEnd">Front End Developer</b> <br>Freelance<br>2020 - actualidad</p>  
</div>

<div class="p-2 m-2 border border-secondary  rounded">
  <p class="fs-4 fw-bold">Educación</p>
  <div class="p-1">
      <img src="/assets/img/ministerio.png" alt="ministerio" width="60px" class="freelance">
      <p class="fs-6" id="detalleExperiencia"> <b id="frontEnd">Ministerio de Desarrollo Productivo</b> <br>Sé Programar<br>2021</p>
  </div>
  <div class="p-1">
      <img src="/assets/img/google.png" alt="google" width="60px" class="freelance">
      <p class="fs-6" id="detalleExperiencia"> <b id="frontEnd">Google Actívate</b> <br>Introducción al Desarrollo Web II<br>2020</p>
  </div>
  <div class="p-1">
      <img src="/assets/img/google.png" alt="google" width="60px" class="freelance">
      <p class="fs-6" id="detalleExperiencia"> <b id="frontEnd">Google Actívate</b> <br>Introducción al Desarrollo Web I<br>2020</p>
  </div>
  <div class="p-1">
      <img src="/assets/img/cambridge.jpg" alt="cambridge" width="60px" class="freelance">
      <p class="fs-6" id="detalleExperiencia"> <b id="frontEnd">Instituto Cambrdige</b> <br>Idioma inglés<br>2004-2013</p>
  </div>
  <div class="p-1">
      <img src="/assets/img/emaus.jpg" alt="Emaús" width="60px" class="freelance">
      <p class="fs-6" id="detalleExperiencia"> <b id="frontEnd">Colegio Emaús</b> <br>Bachiller en Economía y Administración<br>1998-2012</p>
  </div>

</div>

<div class="p-2 m-2 border border-secondary rounded">
  <p class="fs-4 fw-bold">Hard Skills & Soft Skills</p>
  <p class="fs-6" id="diseño">Diseño</p>
  <div class="d-flex justify-content-center align-items-end">
      <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
          </div>
      </div>
  </div>
  <p class="fs-6" id="diseño">Diseño</p>
  <div class="d-flex justify-content-center align-items-end">
      <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
          </div>
      </div>
  </div>
  <p class="fs-6" id="diseño">Diseño</p>
  <div class="d-flex justify-content-center align-items-end">
      <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
          </div>
      </div>
  </div>
  <p class="fs-6" id="diseño">Diseño</p>
  <div class="d-flex justify-content-center align-items-end">
      <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
          </div>
      </div>
  </div>
  <p class="fs-6" id="diseño">Diseño</p>
  <div class="d-flex justify-content-center align-items-end">
      <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
          </div>
      </div>
  </div>
  
</div>

<div class="p-2 m-2 border border-secondary rounded">
  <p class="fs-4 fw-bold">Proyectos</p>
  <p class="fs-6 p-2" id="detalleProyectos"> <b id="frontEnd">Portfolio Web</b> <br>Una aplicación web full stack, que mostrará: tus datos personales, estudios cursados, experiencia laboral, conocimiento de las
      tecnologías y lo que desees agregar. Es decir, ¡crear tu propio portfolio web! Esta aplicación deberá ser de arquitectura distribuida y contener un
      diseño de interfaz de usuario (front end) que muestre la información, una base de datos que almacene los datos antes mencionados y debe contar
      con las APIs necesarias para proveer a través de internet la información (back end).<br>2022</p>
</div>