  <div class="d-flex p-2 m-2 border border-secondary rounded">
    <div class="banner">
        <img src="/assets/img/banner.jpg" alt="banner" class="img-fluid">
        <div class="perfil">
            <img src="/assets/img/perfil.png" alt="perfil" class="rounded-circle" width="100px" id="perfil">
        </div>
        <div class="datos pt-2 m-1">
            <p class="fs-4 fw-bold">Erik Matías Wagner</p>
            <p class="fs-6">Full Stack Developer Jr.</p>
            <p class="fs-6">Buenos Aires. Argentina</p>
            <div class="btn-left" *ngIf="isLogged"><i class="bi bi-pencil-square"></i></div>
            <img src="/assets/img/inti.png" alt="inti" width="170px" id="inti">                
        </div>
    </div>
  </div>

  